@CHARSET "UTF-8";

body {
    font-family: arial regular;
    font-size: 14px;
}

a {
    font-size: 14px;
    color: #FFFFFF;
    font-family: arial;
    text-align: center;
}

.menu a {
    font-family: arial;
    color: #2E4358;
    font-size: 18px;
}
/* li */
.menu .first_seleted {
   margin-left: 20px;
   display: inline-block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   font-family: arial;
   background: #D2DAE3;
   color: #2E4358;
   font-size: 18px;
   text-align: center;
   cursor: pointer;   
}

.menu .first_unseleted {
   margin-left: 20px;
   display: inline-block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   font-family: arial;
   color: #2E4358;
   font-size: 18px;
   text-align: center;
   cursor: pointer;   
}

.menu .second_seleted {
   margin-left: 120px;
   display: inline-block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   font-family: arial;
   color: #2E4358;
   font-size: 18px;
   text-align: center;
   cursor: pointer;   
}

.menu .second_unseleted {
   margin-left: 120px;
   display: inline-block;
   width: 200px;
   height: 40px;
   line-height: 40px;
   font-family: arial;
   color: #2E4358;
   font-size: 18px;
   text-align: center;
   cursor: pointer;   
}

.first_unseleted:hover {
    background: #D2DAE3;
}
.second_unseleted:hover {
    background: #D2DAE3;
}

.menu_a {
   color: #2E4358;
}

.guide a {
    font-family: arial;
    font-size: 12px;
    color: #0A0A0A;
}
.left .li_selected {
   margin-top: 30px;
   margin-left: 10px;
   width: 180px;
   height: 30px;
   line-height: 30px;
   font-family: arial;
   color: #FFF;
   font-size: 14px;
   text-align: center;
   cursor: pointer;
   border-bottom: 1px solid #2E4358;
   background: #2E4358;
}

.left .li_unselected {
   margin-top: 0px;
   margin-left: 10px;
   width: 180px;
   height: 30px;
   line-height: 30px;
   font-family: arial;
   color: #2E4358;
   font-size: 14px;
   text-align: center;
   cursor: pointer;
   border-bottom: 1px solid #2E4358;
}

.li_unselected:hover {
    border: 1px solid #2E4358;
}
.show_list li {
   position: relative;
   width: 980px;
   height: 30px;
   border-bottom: 1px solid #9D9D9D;
   overflow: hidden;
   
}

.logout_words {
    position: relative;
    top: 2px;
}
/* main */
.disablie_screen {
    position: absolute;
    width: 100%;
    height: 760px;
    z-index: 10;
    opacity: 0.5;
    background: #000;
    display: none;
}

.delete_confirm {
    position: fixed;
    left: 550px;
    top: 250px;
    width: 400px;
    height: 200px;
    border: 1px solid #2E4358;
    border-radius: 5px;
    background-color: white;
    z-index: 20;
    display: none;
}
.delete_confirm .confirm_btn {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #FE9901;
    font-family: arial;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 105px;
    margin-top: 125px;
    float: left;
    cursor: pointer;
}
.delete_confirm .cancel_btn {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #FE9901;
    font-family: arial;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 125px;
    float: left;
    cursor: pointer;
}

.delete_confirm .warning_message {
    position: absolute;
    left: 50px;
    top: 70px;
    width: 300px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #0A0A0A;
}

#close_img {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
}


.wrapper {
    width: 1280px;
    height: 760px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid;
}


.header {
    position: relative;
    width: 1280px;
    height: 80px;
    background-color: #2E4358;
    overflow: hidden;
}

.header .logo {
    width: 240px;
    position: absolute;
    left: 20px;
    top: 20px;
    height: 40px;
}
.header .describe{
    position: absolute;
    left: 300px;
    top: 20px;
    width: 400px;
    height: 45px;
    padding-top: 5px;
    font-family: Arial;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
}
.header .language {
    position: absolute;
    top: 20px;
    left: 1220px;
    width: 50px;
    height: 15px;
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 黑体;
}
.header .logout {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 35px;
    height: 15px;
}
.header .short_name {
    position: absolute;
    top: 50px;
    right: 85px;
    width: 70px;
    height: 15px;
    line-height: 15px;
    padding-top: 3px;
    font-size: 14px;
    color: #FFFFFF;
    font-family: arial;
}

.header .portrait {
    position: absolute;
    top: 50px;
    right: 165px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}


.wrapper .menu {
   position: relative;
    width: 1280px;
    height: 40px;
    overflow: hidden;
}

.wrapper .main {
    position: relative;
    width: 1280px;
    height: 640px;
    background-color: #D2DAE3;
    overflow: hidden;
}

.main .warning_delete {
    position: fixed;
    left: 550px;
    top: 250px;
    width: 400px;
    height: 200px;
    border: 1px solid #2E4358;
    border-radius: 5px;
    background-color: white;
    z-index: 30;
    display: none;
}

.main .warning_input {
    position: fixed;
    left: 550px;
    top: 250px;
    width: 400px;
    height: 200px;
    border: 1px solid #2E4358;
    border-radius: 5px;
    background-color: white;
    z-index: 30;
    display: none;
}

.warning_message {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 200px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.warning_confrim {
    position: absolute;
    right: 160px;
    bottom: 30px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #FE9901;
    border-radius: 2px;
    background-color: #FE9901;
    font-family: arial;
    color: #FFFFFF;
    cursor: pointer;
}

.main .flash_message {
    position: absolute;
    top: 0px;
    left: 550px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: green;
    z-index: 1;
}
.main .guide {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 400px;
    height: 15px;
    line-height: 15px;
    font-family: arial;
    font-size: 12px;
    color: #0A0A0A;
    overflow: hidden;
}

.guide .menu {
    margin-left: 10px;
}


/* content */
.main .content {
    position: relative;
    width: 1240px;
    height: 580px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #9D9D9D;
    border-radius: 5px;
}
.content .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 580px;
    border-right: 1px solid #9D9D9D;
    overflow: hidden;
}

.content .list {
   position: absolute;
   top: 50px;
   left: 230px;
   width: 980px;
   height: 400px;
   border: 1px solid #2E4358;
   border-radius: 5px;
   overflow: hidden;
}
.list .title {
    width: 980px;
    height: 40px;
    border-bottom: 1px solid #2E4358;
}

.list .show_list {
    position: relative;
    top: 40px;
    width: 980px;
    height: 400px;
    padding: 0px;
}

/* list  all  columns */

.column_index {
   position: absolute;
   top: 0px;
   left: 70px;
   width: 15px;
   height: 30px;
   line-height: 30px;
   font-family: arial regular;
   font-size: 12px;
   text-align: center;
   color: #0A0A0A;
   font-weight: bold;
}

.column_one {
   position: absolute;
   top: 0px;
   left: 120px;
   width: 60px;
   height: 30px;
   line-height: 30px;
   font-family: arial regular;
   font-size: 12px;
   text-align: center;
   color: #0A0A0A;
   font-weight: bold;
}
.column_two {
   position: absolute;
   top: 0px;
   left: 270px;
   width: 500px;
   height: 30px;
   line-height: 30px;
   overflow: hidden;
   text-align: left;
}

.column_two a {
    color: #296793;
    font-family: arial regular;
    font-size: 14px;
}
.wrapper .main .copy_rights{
    width: 1280px;
    height: 30px;
    text-align: center;
    line_height: 30px;
    font-family:Arial Reular;
    font-size: 12px;
    color:#0A0A0A;
}

#bottom_line {
    position: absolute;
    top: 40px;
    width: 980px;
    border-bottom: 1px solid #9D9D9D;
}
